.box {
	width: 100%;
}

.titleDetails {
	text-align: center;
	font-family: 'Rick and Morty font';
	color: #35d0f2;
	text-shadow: 5px 5px 10px #262626;
}

.detail {
	position: relative;
	width: 50rem;
	height: auto;
	background: #f0f2eb;
	margin: 2rem auto;
	border-radius: 4px;
	box-shadow: 0 0.1rem 0.7rem #262626;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.detail h1 {
	/* font-family: 'Rick and Morty font'; */
}

.imgChtr {
	box-shadow: 0 0.1rem 0.7rem #262626;
}
